<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [6]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2.0.8)
Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 9.6 MB/s
Requirement already satisfied: pytz in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from datetime) (2021.3)
Requirement already satisfied: zope.interface in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from datetime) (5.4.0)
Requirement already satisfied: setuptools in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from zope.interface->datetime) (59.4.0)
Installing collected packages: datetime
Successfully installed datetime-4.3

## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [4]:
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

HTTP/1.1 200 OK
Accept-Ranges: bytes
Cache-Control: max-age=0,public
Content-Length: 590
Content-Type: text/csv
Date: Wed, 02 Feb 2022 20:38:52 GMT
ETag: "51e19abf6d49827913a655c6423d98fa"
Last-Modified: Fri, 20 Aug 2021 06:26:13 GMT
Server: Cleversafe
X-Clv-Request-Id: c3d321ab-a1b2-42cc-9655-67a4f4528e2d
X-Clv-S3-Version: 2.5
x-amz-request-id: c3d321ab-a1b2-42cc-9655-67a4f4528e2d

Downloading 590.00 B to "exchange_rates.csv"
Done. 590.00 B in 0.00036s (1.55 MB/s)

## Extract

### JSON Extract Function

This function will extract JSON files.

In [27]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [ ]:
columns=['Name','Market Cap (US$ Billion)']

In [3]:
def extract():
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])

    for json_file in glob.glob("bank_market_cap_1.json"):
        #extracted_data = extracted_data.append(extract_from_json(json_file), ignore_index=True)
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)])

    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [5]:
# Write your code here
exchange_rate = pd.read_csv("exchange_rates.csv",index_col = 0)

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [120]:
def transform(data):
    gbp_usd_rate = exchange_rate.loc["GBP"]
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'] * float(gbp_usd_rate)
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'].astype(float)
    
    data.rename(columns = {'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'},inplace=True)
    return data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [103]:
def load(data):
    data.to_csv("bank_market_cap_gbp.csv")

## Logging Function

Write the logging function <code>log</code> to log your data:

In [68]:
def log(message):
    timestamp_format = "%Y-%m-%d_%H:%M:%S"
    timestamp = datetime.now().strftime(timestamp_format)
    print(timestamp, message)

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [69]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

2022-02-03_01:25:20 ETL Job Started
2022-02-03_01:25:20 Extract phase Started

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [92]:
# Call the function here
bank_market_cap_df = extract()
# Print the rows here
bank_market_cap_df.head(5)

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                  390.934
1  Industrial and Commercial Bank of China                  345.214
2                          Bank of America                  325.331
3                              Wells Fargo                  308.013
4                  China Construction Bank                  257.399

Log the data as <code>"Extract phase Ended"</code>

In [85]:
# Write your code here
log("Extract phase Ended")

2022-02-03_01:29:57 Extract phase Ended

### Transform

Log the following  <code>"Transform phase Started"</code>

In [93]:
# Write your code here
log("Transform phase Started")

2022-02-03_01:31:56 Transform phase Started
ERROR! Session/line number was not unique in database. History logging moved to new session 42

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [121]:
# Call the function here
transformed_bank_market_cap_df = transform(bank_market_cap_df.copy())
# Print the first 5 rows here
transformed_bank_market_cap_df.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       70 non-null     object
 1   Market Cap (GBP$ Billion)  70 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

Log your data <code>"Transform phase Ended"</code>

In [ ]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [ ]:
# Write your code here
log("Load phase Started")

Call the load function

In [106]:
# Write your code here
load(transformed_bank_market_cap_df)

Log the following `"Load phase Ended"`.

In [105]:
# Write your code here
log("Load phase Ended")

2022-02-03_01:40:09 Load phase Ended

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).